/* ========================================================================================================
    RESET
======================================================================================================== */
/* apply a natural box layout model to all elements */
* {margin: 0; padding: 0; border: 0; vertical-align: baseline; background:transparent; outline: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* ========================================================================================================
    BODY
======================================================================================================== */
html, body {
    min-height: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    font-family: 'Helvetica Neue",Helvetica,Arial,sans-serif', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color:#3f3f3f;
    line-height:1;
    background-color: #FBFAFA;
    overflow-x: hidden;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {display: block;}
audio, canvas, progress, video {display: inline-block; vertical-align: baseline;}

input, select, textarea {
    font-family: 'Helvetica Neue",Helvetica,Arial,sans-serif', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #000;
    padding: 0;
    border: 0;
}

textarea {overflow: auto; line-height: 17px;}

::-webkit-input-placeholder {color: #D8D8D8; font-weight:300; opacity: 1;}
:-moz-placeholder {color: #D8D8D8; font-weight:300; opacity: 1;}
::-moz-placeholder {color: #D8D8D8; font-weight:300; opacity: 1;}
:-ms-input-placeholder {color: #D8D8D8; font-weight:300; opacity: 1;}

h1, h2, h3, h4 {
    font-weight:700;
    color: #31D0D2;
}

a {
    text-decoration:none;
    color:#31D0D2;
    -webkit-transition:color 0.1s, background-color 0.1s;
    -moz-transition:color 0.1s, background-color 0.1s;
    -o-transition:color 0.1s, background-color 0.1s;
    transition:color 0.1s, background-color 0.1s;
}

a:hover {
    color: #FDD800;
    text-decoration:none;
}

ol, ul {
    list-style: none;
}

p {
    color: #95989A;
    font-size: 14px;
}

.direita {
    text-align: right !important;
}

.esquerda {
    text-align: left;
}

.center {
    text-align: center;
}

label {
    margin-top: 15px;
}

.form-control:focus {
    border-color: #31D0D2;
}


/* ========================================================================================================
                    CORES
======================================================================================================== */

.verde {
    background-color:  #31D0D2;
}

.verdeEscuro {
    background-color:  #229E9F;
}

.amarelo {
    background-color: #FDD800;
}

/* ========================================================================================================
                    BOTÕES
======================================================================================================== */

.btnAmarelo {
    padding: 8px 30px;
    color: #005F5F;
    border-radius: 20px;
    display: inline-block;
    margin-top: 9px;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
}

.btnAmarelo:hover {
    padding: 8px 30px;
    color: #005F5F;
    border-radius: 20px;
    font-size: 18px;
    text-transform: uppercase;
}

.btnCandidatar {
    padding: 8px 20px;
    color: #005F5F;
    border-radius: 20px;
    display: inline-block;
}

.btnCandidatar:hover {
    padding: 8px 20px;
    color: #005F5F;
    border-radius: 20px;
    font-weight: bold;
}

.btnVerdeLogin {
    padding: 8px 20px;
    color: #fff;
    border-radius: 20px;
    display: inline-block;
    margin-top: 5px;
    width: 100%;
}

.btnVerdeAcao {
    padding: 8px 10px;
    color: #fff;
    border-radius: 20px;
    display: inline-block;
    margin-top: 30px;
    width: 10em;
}

.acoes {
    text-align: right;
}



/* ========================================================================================================
                    HEADER
======================================================================================================== */

.header {
    width: 100%;
    height: 100px;
    background-color: #FFF;
    position: fixed;
    top: 0;
    z-index: 100;
    box-shadow: 0px 3px 3px rgba(0,0,0,.1);
}

.header img {
    max-width: 300px;
    margin-top: 20px;
    padding-left: 20px;
}

.users {
    text-align: right !important;
    margin-top: 38px;
}

.logins ul {
    margin: 0;
    padding: 0;
}

.logins ul li {
    padding: 22px 12px 22px 0px;
    font-size: 16px;
    font-weight: bold;
}

.logins li a {
    display: inline-block;
    float: right;
    color: #95989A;
    padding: 0px 20px 0px 0px;
    text-decoration:none;
}

.logins li a:hover {
    color: #31D0D2;
    text-decoration:none;
}

.logins li a img {
    height: 25px;
    margin-top: 0;
}

/* ========================================================================================================
                    HEADER LOGADO
======================================================================================================== */

.header-logado {
    width: 100%;
    height: 100px;
    background-color: #FFF;
    position: fixed;
    top: 0;
    z-index: 100;
    box-shadow: 0px 3px 3px rgba(0,0,0,.1);
}

.header-logado img {
    max-width: 300px;
    margin-top: 20px;
    padding-left: 20px;
}

#usuario {
    text-align: right;
    position: absolute;
    right: 0px;
}

.imgUser {
    height: 50px;
    width:  50px;
    border-radius: 50%;
    padding-left: 0 !important;
    margin-top: 13px !important;
    margin-right: 10px;
}

#usuario ul {
    margin-top: 10px;
    display: table;
    float: right;
}

#usuario ul li {
    display: table-cell;
    vertical-align: middle;
}

#usuario ul li.listaMenu {
    padding-right: 15px;
    padding-top: 30px;
    display: inline-block;
    font-size: 18px;
    color: #31D0D2;
}


/* ========================================================================================================
                    BANNER
======================================================================================================== */

.banner {
    width: 100%;
    float: left;
    margin-top: 100px;
}

.banner1 {
    height: 560px;
    width: 100%;
    background-image: url('../img/banner1.png');
    text-align: center !important;
}

.campoBusca {
    width: 700px;
    height: 80px;
    background-color: #fff;
    border: 1px solid #31D0D2;
    border-radius: 50px;
    margin-top: 370px;
    font-size: 20px;
    color: #95989A;
    position: absolute;
    text-align: center;
    left: 300px;
    z-index: 99;
}

.form-control-search-pricnipal {
    width: 410px;
    height: 70px;
    background-color: #fff;
    font-size: 20px;
    color: #95989A;
    display: inline-block;
    float: left;
    margin-left: 33px;
    margin-top: 5px;
}

.botaoBusca {
    width: 250px;
    height: 70px;
    background-color: #31D0D2;
    color: #fff;
    border-radius: 50px;
    float: left;
    margin-top: 4px;
    font-size: 28px;
}

.botaoBusca:hover {
    background-color: #31D0D2;
    color: #fff;
}

.bannerInterno {
    width: 100%;
    height: 300px;
    float: left;
    margin-top: 100px;
    background-image: url('../img/bannerInterno.png');
}

.slick-slide {
    position: relative;
}

.slick-slider {
    margin-bottom: 0px !important;
}

/* ========================================================================================================
                    BARRA VERDE
======================================================================================================== */


.barraVerde {
    width: 100%;
    height: 60px;
    float: left;
}

.btnAcao {
    margin-top: 11px;
    padding: 0;
    float: left;
}

.barraVerde h3.chamada {
    color: #fff;
    font-size: 30px;
    padding-left: 40px;
    margin-top: 13px;
    display: inline-block;
}

.barraVerde h2 {
    display: none;
}

.barraVerde img {
    width: 25px;
}

/* ========================================================================================================
                    CORPO
======================================================================================================== */

.tituloSub h4 {
    color: #31D0D2;
    font-size: 30px;
    text-align: center;
    font-weight: 400;
    padding: 30px 10px;
}

.tituloSub h4 img {
    width: 200px;
    padding: 0px 10px;
}


/* ========================================================================================================
                    CARDS VAGAS
======================================================================================================== */

.card {
    width: 20rem !important;
    height: 350px;
    background-color: #fff;
    margin:  0px 20px;
    float: left;
    padding: 10px 20px;
    box-shadow: 0px 10px 10px #d4d4d4;
}

h4.card-title {
    font-size: 18px;
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}

.card-text {
    font-size: 14px;
    color: #95989A;
    text-align: left;
    padding: 0;
    margin: 5px 0 !important;
}

.card-label {
    font-size: 14px;
    font-weight: bold;
    color: #31D0D2;
}

.card-descricao {
    padding-top: 10px;
    line-height: 18px;
}

.saibaMais {
    float: right;
    font-size: 12px;
    font-weight: bold;
    color: #31D0D2;
    margin-bottom: 30px;
}

.flex-container {
    width: 100%;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    padding: 0 15px;
}

.flex-item {
    background-color: #fff;
    width: 220px;
    height: auto;
    /* box-shadow: 0px 2px 15px #d3d3d3; */
    border: 1px solid #EcEcEc;
    padding: 20px;
    margin: 0 10px 30px 10px;
    border-radius: 10px;
}

.flex-item-interno {
    background-color: #fff;
    width: 260px;
    height: 300px;
    border: 1px solid #EBEBEB;
    padding: 20px;
    margin: 0 10px 30px;
    border-radius: 10px;
}

.flex-item-detalhe {
    background-color: #fff;
    width: 100%;
    height: auto;
    border: 1px solid #EBEBEB;
    padding: 20px 30px;
    margin-bottom: 30px;
    border-radius: 10px;
}

.card-title-detalhe {
    font-size: 28px;
    margin-top: 0 !important;
}

.card-label-detalhe {
    font-size: 16px;
    color: #31D0D2;
    margin-top: 40px;
}

.descVaga {
    padding: 20px 0px 20px;
}

.numVaga {
    color: #95989A;
    font-size: 18px;
    font-weight: normal;
}

/* ========================================================================================================
                ESTATÍSTICAS
======================================================================================================== */

.contador span {
    font-size: 90px;
    color: #31D0D2;
}

/* ========================================================================================================
                FOOTER
======================================================================================================== */


.footerPrincipal {
    width: 100%;
    height: 200px;
    margin-top: 100px;
}

.footerSecundario {
    width: 100%;
    height: 40px;
    padding-top: 12px;
    text-align: center;
}

.footerSecundario p {
    color: #00D1D1;
}

/* ========================================================================================================
                ABA LOGIN USUARIO
======================================================================================================== */

#abaLoginUsuario {
    width: 210px;
    height: 260px;
    background-color: #fff;
    box-shadow: 1px 1px 10px rgba(130, 130, 130, 0.8);
    position: fixed;
    right: 217px;
    top: 85px;
    z-index: 150;
    display: none;
    padding: 20px;
}

#abaLoginUsuario:before {
    content: "";
    display: inline-block;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-bottom: 13px solid rgba(212, 211, 211, 0.4);
    position: absolute;
    right: 17px;
    top: -14px;
}

#abaLoginUsuario:after {
    content: "";
    display: inline-block;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    position: absolute;
    right: 20px;
    top: -10px;
}

.profile {
    width: 100%;
    height: 130px;
    padding: 20px;
}

.fotoProfile img {
    height: 90px;
    width:  90px;
    border-radius: 50%;
}

.detalhePerfil {
    padding-left: 20px;
}

.nomePerfil {
    font-size: 16px;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
}

.btn-config {
    color: #fff;
    padding: 5px 20px;
    font-weight: bold;
    margin-top: 5px;
}

.acoesPerfil {
    width: 100%;
    height: 40px;
    background-color: #f5f5f5;
    border-top: 1px solid #d4d4d4;
    text-align: right;
    padding: 10px 20px;
}

.acoesPerfil span {
    text-transform: uppercase;
}

.form-control-login {
    width: 100%;
    height: 35px;
    background-color: #fff;
    border: 1px solid #00D1D1;
    border-radius: 20px;
    font-size: 14px;
    color: #95989A;
    padding-left: 15px;
    margin: 5px 0px;
}

#abaLoginUsuario span {
    font-size: 14px;
    color: #00D1D1;
    display: block;
    margin-top: 20px;
    text-align: center;
}

#abaLoginUsuario p {
    margin-top: 6px;
}

/* ========================================================================================================
            ABA LOGIN EMPRESA
======================================================================================================== */

#abaLoginEmpresa {
    width: 210px;
    height: 260px;
    background-color: #fff;
    box-shadow: 1px 1px 10px rgba(130, 130, 130, 0.8);
    position: fixed;
    right: 63px;
    top: 85px;
    z-index: 150;
    display: none;
    padding: 20px;
}

#abaLoginEmpresa:before {
    content: "";
    display: inline-block;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-bottom: 13px solid rgba(212, 211, 211, 0.4);
    position: absolute;
    right: 17px;
    top: -14px;
}

#abaLoginEmpresa:after {
    content: "";
    display: inline-block;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    position: absolute;
    right: 20px;
    top: -10px;
}

.profile {
    width: 100%;
    height: 130px;
    padding: 20px;
}

.fotoProfile img {
    height: 90px;
    width:  90px;
    border-radius: 50%;
}

.detalhePerfil {
    padding-left: 20px;
}

.nomePerfil {
    font-size: 16px;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
}

.btn-config {
    color: #fff;
    padding: 5px 20px;
    font-weight: bold;
    margin-top: 5px;
}

.acoesPerfil {
    width: 100%;
    height: 40px;
    background-color: #f5f5f5;
    border-top: 1px solid #d4d4d4;
    text-align: right;
    padding: 10px 20px;
}

.acoesPerfil span {
    text-transform: uppercase;
}

.form-control-login {
    width: 100%;
    height: 35px;
    background-color: #fff;
    border: 1px solid #00D1D1;
    border-radius: 20px;
    font-size: 14px;
    color: #95989A;
    padding-left: 15px;
    margin: 5px 0px;
}

#abaLoginEmpresa span {
    font-size: 14px;
    color: #00D1D1;
    display: block;
    margin-top: 20px;
    text-align: center;
}

#abaLoginEmpresa p {
    margin-top: 6px;
}

/* ========================================================================================================
            ABA PERFIL
======================================================================================================== */

#abaPerfil {
    width: 210px;
    height: 230px;
    background-color: #fff;
    box-shadow: 1px 1px 10px rgba(130, 130, 130, 0.8);
    position: fixed;
    right: 100px;
    top: 85px;
    z-index: 150;
    display: none;
    padding: 20px;
}

#abaPerfil:before {
    content: "";
    display: inline-block;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-bottom: 13px solid rgba(212, 211, 211, 0.4);
    position: absolute;
    right: 17px;
    top: -14px;
}

#abaPerfil:after {
    content: "";
    display: inline-block;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    position: absolute;
    right: 20px;
    top: -10px;
}

.fotoProfile img {
    height: 90px;
    width:  90px;
    border-radius: 50%;
}

.nomePerfil {
    font-size: 16px;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
}

.logout {
    border-bottom: 1px solid #fff !important;
}

#abaPerfil ul li {
    border-bottom: 1px solid #d4d4d4;
    padding: 15px 0px;
}

#abaPerfil ul li a {
    color: #95989A;
}

#abaPerfil ul li a:hover {
    color: #00D1D1;
}

#abaPerfil ul img {
    height: 20px;
    padding-right: 5px;
}

/* ========================================================================================================
                    RESULTADO BUSCA
======================================================================================================== */

.resultadoBusca {
    height: 100%;
    margin-top: 50px;
}

.campoBuscaInterna {
    width: 100%;
    height: 40px;
    background-color: #fff;
    border: 1px solid #31D0D2;
    border-radius: 50px;
    font-size: 20px;
    color: #95989A;
    text-align: center;
    margin-top: 20px;
}

.form-control-search-pricnipal-Interno {
    width: 77%;
    height: 30px;
    background-color: #fff;
    font-size: 20px;
    color: #95989A;
    display: inline-block;
    float: left;
    margin-left: 20px;
    margin-top: 3px;
}

.botaoBuscaInterna {
    width: 20%;
    height: 30px;
    background-color: #31D0D2;
    color: #fff;
    border-radius: 50px;
    float: left;
    margin-top: 4px;
    font-size: 16px;
    padding: 0 0;
}

.botaoBusca:hover {
    background-color: #31D0D2;
    color: #fff;
}

span.qtdVagas {
    font-size: 24px !important;
    color: #31D0D2 !important;
    font-weight: bold !important;
}

/* ========================================================================================================
                    CORPO CADASTRO
======================================================================================================== */

.corpoCadastro {
    width: 100%;
    height: 100%;
    padding: 30px;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #e2e2e2;
}

.tituloCadastro {
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 30px;
    text-align: left !important;
}

.subtituloCadastro {
    font-size: 24px;
    color: #95989A;
    padding-top: 30px;
}

.corpoCadastroSucesso {
    width: 100%;
    height: 300px;
    padding: 30px;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #e2e2e2;
}

.corpoCadastroSucesso {
    text-align: center;
}

/* ========================================================================================================
                    CLASSES GENÉRICAS
======================================================================================================== */

#textoDestaque {
    font-size: 16px;
    font-weight: bold;
    color: #95989A;
    line-height: 20px;
}

.textoDestaque {
    font-size: 16px;
    font-weight: normal;
    color: #95989A;
    line-height: 20px;
}

.mTop-10 {padding-top: 10px;}
.mTop-20 {padding-top: 20px;}
.mTop-30 {padding-top: 30px;}
.mTop-40 {padding-top: 40px;}
.mTop-50 {padding-top: 50px;}
.mTop-80 {padding-top: 80px;}

.glyphicon {
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 24px;
    padding: 5px 5px;
    color: #d4d4d4;
}

/* ========================================================================================================
                MODAIS
======================================================================================================== */

.modal-body {
    padding: 30px 20px;
}

.iconTipoCadastro {
    max-height: 60px;
    padding-bottom: 10px;
}

.nomeIconCad {
    font-size: 36px;
    color: #95989A;
    text-transform: uppercase;
    text-align: center;
}

h4.bemVindo {
    font-size: 28px;
}

