<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>homeCentral</servlet-name>
        <servlet-class>controller.HomeCentral</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ICommander</servlet-name>
        <servlet-class>action.ICommander</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>homeCentral</servlet-name>
        <url-pattern>/HomeCentral</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ICommander</servlet-name>
        <url-pattern>/ICommander</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>homecentral</welcome-file>
    </welcome-file-list>
</web-app>
